# {{project_name}}

A short description of the project. 


## Installation

### Using Pip

```
pip install {{project_name}}
```

or 

```
pip install git+https://github.com/github.com/mhorlacher/{{project_name}}.git@SOME_BRANCH
```

to install from a specific branch (e.g. the latest development version of package version). 

### Using Conda

```
git clone https://github.com/github.com/mhorlacher/{{project_name}}
cd {{project_name}}
make env
conda activate {{project_name}}
```

### Using Docker

First, pull the docker image. 
```
docker pull 
```

Then, run commands as shown below. 
```
docker run {{project_name}} --help 
```
To provide input files and capture output file, mount host files and/or directories using `--mount` (see the Docker [docs](https://docs.docker.com/engine/storage/bind-mounts/)). 


## Usage

See the [documentation](https://mhorlacher.github.io/{{project_name}}) for a usage guide and API reference. 